<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
		<% if (locals.user) {%>
		<h1>WELCOME BACK <%= user.name %></h1>		
		<a href="/log-out">LOG OUT</a>
		<a href="/secret?email=<%= user.name %>">SECRET</a>
		<% if (user.status === true) {%>
		<a href="/message?id=<%= user.id %>">MESSAGE</a>
		<%}%> <% } else { %>
		<h1>please log in</h1>
		<form action="/log-in" method="POST">
			<label for="username">Username</label>
			<input id="username" name="username" type="text" />
			<label for="password">Password</label>
			<input id="password" name="password" type="password" />
			<button>Log In</button>
		</form>
		<%}%>
		<a href="/new">SIGN UP</a>
		<h2>Your Messages</h2>
		<ul>
			<% for (let message of messages) { %>
			<li>
				<h3><%= message.title %></h3>
				<p><%= message.text %></p>
                <% if (locals.user && user.status === true) { %>
				<b><%= message.member %></b>
				<small><%= message.time %></small>
				<% } %>
			</li>
			<% } %>
		</ul>
	</body>
</html>
